body {
    background-color: rgb(156, 166, 170);
   
  }
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}
.flex-container {
    display: flex;
  }
  
  .left-container {
    flex-basis: 30%;
    background-color: #f2f2f2;
    padding: 10px;
    height: 200px;
  }
  
  .right-container {
    flex-basis: 70%;
    display: flex;
    flex-direction: row;
    height: 200px;
  }
 

  .result_leftpart {
    flex-basis: 30%;
    background-color: #f2f2f2;
    padding: 10px;
    height: 200px;
  }
  .result_rightpart{
    flex-basis: 70%;
    display: flex;
    flex-direction: row;
    height: 200px;
  }
  .inner-left-container {
    flex-basis: 30%;
    background-color: #ddd;
    padding: 10px;
    height: 200px;
  }
  
  .inner-right-container {
    flex-basis: 70%;
    
    background-color: #f2f2f2;
    padding: 10px;
    height: 200px;
  }
 .mini_container{
    flex: none;
    width: 300px;
    height: 50px;
 }
 
 .progress-bar-container {
    width: 200px; /* replace with the width of your progress bar */
    height: 10px;
    background-color: #837d7d;
    cursor: pointer;
  
    overflow: hidden;
  }
  
  .progress-bar {
    width: 200px;
    height: 10px;
    background-color: #292525;
    cursor: pointer;
  }
  
  .progress {
    height: 100%;
    background-color: #4c7faf;
    width: 50%;
    transition: width 0.2s ease-in-out;
  }
  

 #progress-label {
 
  top: 30px;
  left: 0;
  width: 200px;
 background-color: #f1eeee;
  font-size: 16px;
 

}
  input[type="hidden"] {
    display: none;
    
  }


  .inner-left-container1 {
    flex-basis: 30%;
    background-color: #ddd;
   
    height: 200px;
  }
  
  .inner-right-container1 {
    flex-basis: 70%;
    
    background-color: #f2f2f2;
    
    height: 200px;
  }
  
  .inner-left-container2 {
    flex-basis: 50%;
    background-color: #ddd;
   
    height: 200px;
  }
  
  .inner-right-container2 {
    flex-basis: 50%;
    
    background-color: #f2f2f2;
    
    height: 200px;
  }


  .dark-input {
    background-color: #292929;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset;
    outline: none;
  }
  
  .dark-input::placeholder {
    color: #ccc;
  }

  .combobox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #222;
  }
  
  .styled-select {
    appearance: none;
    background-color: #333;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    outline: none;
    cursor: pointer;
  }
  
  .styled-select option {
    background-color: #333;
  }
  
  .styled-select::-ms-expand {
    display: none;
  }
  
  .styled-select:hover, .styled-select:focus {
    border: none;
    outline: none;
    background-color: #444;
  }
  
  .table-responsive {
    max-width: 100%;
    overflow-x: auto;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  th,
  td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
    white-space: nowrap;
  }
  
  th:first-child,
  td:first-child {
    padding-left: 20px;
  }
  
  th:last-child,
  td:last-child {
    padding-right: 20px;
  }
  
  th img {
    display: block;
    margin: auto;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0;
  }
  
  .pagination li {
    display: inline-block;
    margin: 0 5px;
  }
  
  .pagination li span,
  .pagination li a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.2;
    text-decoration: none;
    color: #333;
  }
  
  .pagination li.active span,
  .pagination li.active a {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }
  
  .pagination li.disabled span,
  .pagination li.disabled a {
    background-color: #f2f2f2;
    border-color: #ddd;
    color: #999;
    cursor: not-allowed;
  }
 
  

  .pagination li a:hover {
  background-color: #ddd;
  border-color: #ddd;
  color: #333;
  }

  .terminal {
    background-color: #1d1f21;
    border-radius: 5px;
    color: #08be45;
    font-family: monospace;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    
    overflow-x: hidden;
  }
  
  .terminal-header {
    background-color: #373b41;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
  }
  
  .terminal-body {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 75%;
    overflow-y: scroll;
    padding: 5px;
  }
  
  .terminal-input {
    display: flex;
    align-items: center;
  }
  
  .terminal-input span {
    color: #81a2be;
    margin-right: 5px;
  }
  
  .terminal-input input[type="text"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #c5c8c6;
    color: #c5c8c6;
    font-family: monospace;
    font-size: 16px;
    outline: none;
    width: 100%;
  }
  .video-stream-container {
    position: relative;
    width: 100%;
    height: 600px;
  }
  
  #video-stream {
    width: 100%;
    height: 100%;
  }
  
  .video-controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
  }
  
  .control-labels {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
  }
  
  .label {
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .control-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  
  button {
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
  }
  .flex-container2 {
    display: flex;
  }
  
  .left-container2 {
    flex-basis: 50%;
    background-color: #f2f2f2;
    padding: 10px;
    height: 600px;
  }
  
  .right-container2 {
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    height: 600px;
  }
 .label_mode{

margin-top: 10px;

 }
 .label_st{

  font: 1em sans-serif ;
  font-size: medium;
  color: #0d3d44;
 }

 .yellow-black-button {
  background-color: #ffd31d; /* yellow */
  color: #000000; /* black */
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  padding: 0.4rem 1rem;
  text-transform: uppercase;

}

.yellow-black-button:hover {
  background-color: #ffc107; /* darker yellow */

}

.yellow-black-button:focus {
  outline: none;

}


.performance-graphic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.axis-x {
  display: flex;
  align-items: flex-end;
  margin-top: 20px;
  width: 600px;
  height: 30px;
}

.axis-y {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
  height: 300px;
  width: 30px;
}

.ticks-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.tick {
  width: 1px;
  height: 5px;
  background-color: #aaa;
}

.label {
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
}

.chart {
  margin-top: 20px;
  width: 600px;
  height: 300px;
  border: 1px solid #aaa;
}